:root{
  --background-color: #002440;
  --primary-color: #0068B7; 
  --secondary-color: #003E6E;
  --textgray-color: #9F9F9F;
  --text-color: #FFFFFF;
}
*{
  margin: 0; 
  background-color: var(--background-color);
}
.veil{
  position: relative;
  display: block;
  overflow:hidden;
}
.veil::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0, var(--veil-alpha, .6));
  pointer-events: none;
  border-radius: inherit;
  border: none;
}