:root{
  --background-color: #002440;
  --primary-color: #0068B7; 
  --secondary-color: #003E6E;
  --textgray-color: #9F9F9F;
  --text-color: #FFFFFF;
}
*{
  margin: 0; 
  background-color: var(--background-color);
}