.page{
  position: relative;
  display: flex;
  flex-direction: column;
}
.quest{
  display: flex;
  flex-direction: row;
}

.quest_title, .posts_title{
  font-size: 2.5rem;
  font-weight: bold;
}
.quest_subtitle{
  font-size: 1.5rem;
}
.quest_daily_title, .quest_weekly_title{
  font-size: 1.3rem;
}
.quest_daily_list, .quest_weekly_list{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  align-items: center;
}